:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;

}
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}
.logo > span{
    color: var(--accent-color);
    }
.logo {
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.conteiner.main-nav{
    display: flex;
    align-items: center;
  
}
.site-nav{
    display: flex;
    margin-left: 93px ;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color); 
}
 .mail {
     display: flex;
     margin-left: auto;
 }
 .mail .item:not(:last-child){
    margin-right: 50px;
}
.mail .link {
     color: var(--primary-text-color);
     letter-spacing: 0.02em;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     text-decoration: none;
}
.mail .link:hover,
.mail .link:focus{
    color: var(--accent-color);  
}
.hero {
    padding-top: 200px;
    padding-bottom: 200px ;

    background: #2F303A;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-title {
    margin-top:0;
    margin-bottom:30px;

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase; 
 }
.hero .button{
    display: inline-block;
    padding: 10px 32px;
    border: 1 px solid transparent;

    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
 }
 .section.plus{
     padding-top: 94px;
     padding-bottom: 94px;
 }
 .features{
     display: flex;
     flex-wrap: wrap;
     justify-content:space-between;
 }
 .features .item{
     width: 270px;
 }
.features .title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
 }
.features .text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 14px;
    line-height: 1.71;
}
.section-title {
    margin-top: 0px;
    margin-bottom: 50px;
   
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.work{
    display: flex;
   }

.work .item:not(:last-child){
    margin-right: 30px;
 }
 .section.operation{
     padding-bottom: 94px;
 }
 .section.job {
    padding-top: 94px;
    padding-bottom: 94px ;
}
.company{
    display: flex;
    margin-top: 50px;
}
.company .item:not(:last-child){
    margin-right: 30px;
}
.name{
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    padding-top:30px ;
    padding-bottom: 30px;

}
.company-title {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.company-job {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 16px;
    line-height: 1.19;
}
.post {
    padding-top: 60px;
    padding-bottom: 60px ;
    
    background-color: #000000;
}
.post-logo {
    margin-top: 0px;
    margin-bottom: 20px;

    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.post-logo > span{
    color: var(--accent-color);
}
.address{
    color:#ffffff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}
 p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.address .link{
    margin-top: 9px;
    margin-bottom: 0px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.site-nav .current{
    color: var(--accent-color);
    }

.conteiner.project{
    padding-bottom: 94px;
    padding-top: 94px;
    margin-bottom: 0px ;
    margin-top: 0px;
}
button{
    padding: 0px;
    border-radius: 4px;
    background: #F5F4FA;
    border: transparent;
}
.portfolio{
    border-top: 1px solid #ECECEC;
}
.filtr{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filtr .item:not(:last-child){
margin-right: 8px;
}
.filtr-title{
    padding: 6px 22px;
    margin: 0px;
    
}

.example{
    display: flex;
    flex-wrap: wrap;
}
.example .item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    
    box-sizing: border-box;

}
.card{
    padding: 20px 24px;
    
}
.example .item:nth-child(3n){
    margin-right: 0px;
}
.example .item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.example-work{
    text-decoration: none;
}
.example .title{
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--title-text-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.example > p {
    margin-top: 4px;
    margin-bottom: 0px;

    font-size: 16px;
    line-height: 1.86;
}
.filtr-title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.filtr-title:hover,
.filtr-title:focus{
    color: var(--accent-color)
}